body {
    margin: 0;
    padding: 0;
    background: #fff;
    font-family: sans-serif;
    text-align: center;
}

.portfolio {
    width: 1280px;
    margin: 70px auto 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.portfolio .work {
    position: relative;
    width: 300px;
    height: 300px;
    background: yellow;
    margin: 5px;
    box-sizing: border-box;
    display: inline-block;
}

.portfolio .work .imgwork {
    position: relative;
    overflow: hidden;
}

.portfolio .work .imgwork img {
    transition: transform 2s;
}

.portfolio .work:hover .imgwork img {
    transform: scale(1.2);
}

.portfolio .work .details {
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    background: rgba(255, 255, 255, 0.5);
    transform: scaleY(0);
    transition: transform .5s;
}

.portfolio .work:hover .details {
    transform: scaleY(1);
}

.portfolio .work .details .content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    padding: 15px;
    color: #fff;
}

.portfolio .work .details p {
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: #fff;
}